/** @format */

.overview {
  padding: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.overview main.main-wrapper {
	margin-left: 340px;
	height: 100%;
    width: 50%;
	margin-right: auto;
	position: relative;
	padding: 50px 0px 30px 50px;
    background-color: #f5f5f5;
    border-radius: 50px;
}

.overview main .main-content {
	max-width: 600px;
}

.overview main .main-content {
	max-width: 600px;
}

.overview .latest-transaction .main-content-table {
	background-color: #ffffff;
	padding: 1.25rem 1.875rem;
	border-radius: 1rem;
	max-width: 800px;
}

.overview .latest-transaction .game-title-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.overview .latest-transaction .game-title {
	white-space: nowrap;
	width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overview .table > :not(caption) > * > * {
	padding: 10px 0px;
}

.overview .latest-transaction table thead tr th {
	font-weight: 400;
}

.overview .subtitle {
	max-width: 900px;
}

.img-fluid {
	padding-left: 50px;
	max-width: 600px;
	height: auto;
}

@media (max-width: 992px) {
	.overview main.main-wrapper {
		width: 20%;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}
